<div *ngIf="team">
  <h2>{{team.name | uppercase}} Details</h2>
  <div>
    <label for = "team-ranking">Team Ranking: </label>
    <input id = "team-ranking" [(ngModel)]= "team.rankingPoints" 	placeholder= "ranking point">
  </div>
  <button type="button" (click)="goBack()">Back</button>
  <a target="_blank" href = "{{countryService.countryData.maps.googleMaps}}">Google Maps</a>
<!--  <div *ngIf="countryService.countryData != null">-->
<!--    <pre>{{countryService.countryData | json}}</pre>-->
<!--  </div>-->
</div>
