<h1 style="text-align: center;">Bets</h1>
<table>
  <tr>
    <th>Username</th>
    <th>Result</th>
    <th>Home score</th>
    <th>Away score</th>
    <th></th>
  </tr>
  <tr *ngFor="let bet of getBets()">
    <td>{{bet.userOfBet.username}}</td>
    <td>{{bet.resultOfBet.resultType}}</td>
    <td>{{bet.resultOfBet.homeTeamScore}}</td>
    <td>{{bet.resultOfBet.awayTeamScore}}</td>
    <td>
      <button type="button" class="delete" title="edit bet"
              (click)="editBet(bet)"><i class="fa fa-edit"></i></button>
      <button type="button" class="delete" title="delete bet"
              (click)="deleteBet(bet)"><i class="fa fa-trash"></i></button>
    </td>
  </tr>
</table>

<div class="container">
  <button type="button" class="btn btn-primary" (click)="addNewBet()">Add new
    bet</button>
  <form (ngSubmit)="onSubmit()" #betForm="ngForm" *ngIf="bet" appBetResultValidator>
  <div class="form-group">
      <label for="name">Username</label>
      <input type="text" class="form-control" id="name" required
             [(ngModel)]="bet.userOfBet.username" name="name" #name="ngModel">
    <div [hidden]="name.valid || name.pristine"
         class="alert alert-danger">
      Username is required
    </div>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input email class="form-control" id="email"
             [(ngModel)]="bet.userOfBet.email" name="email">
    </div>
    <div class="form-group">
      <label for="home-score">Home team goal</label>
      <input type="number" class="form-control" id="home-score"
             required
             [(ngModel)]="bet.resultOfBet.homeTeamScore" name="home-score"
             #homeScore="ngModel">
      <div [hidden]="homeScore.valid || homeScore.pristine"
           class="alert alert-danger">
        Home team score is required
      </div>
    </div>
    <div class="form-group">
      <label for="away-score">Away team goal</label>
      <input type="number" class="form-control" id="away-score"
             required
             [(ngModel)]="bet.resultOfBet.awayTeamScore" name="away-score"
             #awayScore="ngModel">
      <div [hidden]="awayScore.valid || awayScore.pristine"
           class="alert alert-danger">
        Away team score is required
      </div>
    </div>
    <div class="form-group">
      <label for="result-type">Result</label>
      <select class="form-control" id="result-type"
              required
              [(ngModel)]="bet.resultOfBet.resultType" name="result-type"
              #resultType="ngModel">
        <option *ngFor="let res of resultTypes"
                [value]="res">{{res}}</option>
      </select>
      <div [hidden]="resultType.valid || resultType.pristine" class="alert
alert-danger">
        Result is required
      </div>
    </div>
    <div *ngIf="betForm.errors?.['resultInvalid'] && (betForm.touched
|| betForm.dirty)" class="alert alert-danger">
      The number of goals does not match the result
    </div>
    <button type="submit" class="btn btn-success"
            [disabled]="!betForm.form.valid">Submit</button>
  </form>
</div>
