<div *ngIf="group">
  <button style="float: right;" type="button" (click)="goBack()">Back</button>
  <h2>{{group.name}}</h2>
  <app-teams *ngIf="group.teams" [teams]="group.teams"></app-teams>

  <h3>Matches</h3>
  <div *ngFor="let match of matches" class="match-button" routerLink="/groups/match/{{match.id}}">
    <div class="match-date">{{match.startDate}}</div>
    <div class="match-teams">
      <img class="flag" [src]="match.homeTeam.flagPath">
      <div style="width: 60%; display: inline-block;">{{match.homeTeam.name}}-{{match.awayTeam.name}}</div>
      <img class="flag" [src]="match.awayTeam.flagPath">
    </div>
    <div class="match-date">{{match.stadium}}</div>
  </div>

</div>


